{% extends 'base.html' %}

{% block title %}
    {{ training_plan.name }} details
{% endblock %}
{% block content %}
    <div class="container my-4">
        <div class="card shadow-sm mx-auto" style="max-width: 720px;">
            <div class="card-header">
                <h2 class="mb-0">{{ training_plan.name }}</h2>
            </div>
            <div class="card-body">
                {% if training_plan.description %}
                    <p class="card-text">{{ training_plan.description }}</p>
                {% else %}
                    <p class="text-muted"><em>No description provided.</em></p>
                {% endif %}
                <hr>
                {% if training_plan.owner == user %}
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'workouts:training_plan_update' training_plan.slug %}"
                           class="btn btn-warning me-2">Edit</a>
                        <a href="{% url 'workouts:training_day_add' training_plan.slug %}"
                           class="btn btn-success me-2">Add training day</a>
                        <a href="{% url 'workouts:training_plan_delete' training_plan.slug %}" class="btn btn-danger">
                            Delete
                        </a>
                    </div>
                    <hr>
                    <div class="row justify-content-center">
                        <h2 class="h2 text-center mt-2 mb-3 col-sm-4">Training days</h2>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="col-sm-8 ">
                            <ul class="list-group text-center">
                                {% for day in training_days %}
                                    <li class="list-group-item list-group-item-action">
                                        <a href="{% url 'workouts:training_day_detail' day.slug %}"
                                           class="link-underline-primary">
                                            <p class="text-dark">
                                                Day {{ day.order }}. {{ day.description }}
                                            </p>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
