{% extends 'base.html' %}

{% block title %}
    My exercises banks
{% endblock %}


{% block content %}
    <div class="container-sm my-4 text-center">
        <h2 class="h2">
            <a href="{% url 'workouts:exercises_bank_create' %}">Create a new bank</a>
        </h2>
        <div class="row justify-content-center">
            <div class="col-sm-6 d-flex flex-wrap">
                <ul>
                    {% for exercise_bank in exercise_banks %}
                        <li>
                            <a href="{% url 'workouts:exercises_bank_detail' exercise_bank.pk %}">
                                <p class="p">{{ exercise_bank.name }}</p>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}