{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block title %}
	Crate a new exercise
{% endblock %}

{% block content %}
	<div class="content-container">
        <div class="mx-auto form-group mb-3 mt-2 w-auto">
            <div class="row">
                <div class="mx-auto col-lg-5">
                    <h2 class="h2 text-center mt-2 mb-3">Create an exercise here</h2>
                    <form method="post" class="input-form p-2 mb-3" novalidate>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="row justify-content-between px-3">
                            <button class="btn btn-success col-3" type="submit">Create exercise</button>
                            <p class="col-2">
                                <a href="{% url 'workouts:exercises_list' %}"
                                                    class="link-opacity-100">Back</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}