{% extends 'base.html' %}

{% block title %}
	Delete {{ exercise.name }}
{% endblock %}


{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-6">
                <form method="post" novalidate>
                    {% csrf_token %}
                    <div class="alert alert-danger">
                        <h2 class="h-2 ">You sure want to delete
                            the {{ exercise.name }}?</h2>
                    </div>
                    <div class="container">
                        <div class="row justify-content-between">
                            <button type="submit" class="btn btn-danger col-2">Delete</button>
                            <p class="col-2">
                                <a href="{% url 'workouts:exercise_delete' exercise.slug %}"
                                                class="link-opacity-100">Cancel</a>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}