{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block title %}
    Index
{% endblock %}

<body>

{% block content %}
    <ul>

        <li>
            <a href="{% url 'users:user_register' %}">Registration</a>
        </li>
        <li>
            <a href="{% url 'users:users_list' %}">Users</a>
        </li>
    <li>
        <a href="{% url 'workouts:exercises_bank_create' %}">Create exercise bank</a>
    </li>
    </ul>

{% endblock %}


{% block script %}

{% endblock %}

</body>
