{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block title %}
    Index
{% endblock %}

<body>

{% block content %}
    <ul>
        <li>
            <a href="{% url 'login' %}">Log In</a>
        </li>
        <li>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button>Log Out</button>
            </form>
        </li>
        <li>
            <a href="{% url 'users:user_register' %}">Registration</a>
        </li>
        <li>
            <a href="{% url 'users:users_list' %}">Users</a>
        </li>
    </ul>

    <h1>Hi, {{ user.username|default:"Guest" }}</h1>

{% endblock %}


{% block script %}

{% endblock %}

</body>
