{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}
    User detail
{% endblock %}

{% block content %}
    <div class="container my-4 ">
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <p class="text-center text-dark">
                    <a href="{% url 'workouts:exercise_create' %}" class="link-underline-primary">Create new
                        exercise</a>
                </p>
                <p class="text-center text-dark">
                    <a href="{% url 'workouts:exercise_category_create' %}" class="link-underline-primary">Create new
                        exercise category</a>
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-12 d-flex flex-wrap">
                <ul class="list-group">
                    {% for exercise_category in exercise_category_list %}
                        {% for exercise in exercise_category.exercises %}
                            <li class="list-group-item list-group-item-action">
                                <a href="{% url 'workouts:exercise_detail' exercise.pk %}"
                                   class="link-underline-primary">
                                    <p class="text-dark">
                                        {{ exercise.name }}
                                    </p>
                                </a>
                            </li>
                        {% endfor %}
                    {% endfor %}

                </ul>

            </div>
        </div>
    </div>

{% endblock %}